<div data-signals="{isPasswordBOOL: true}" >
  <style>
      me {
          display: flex;
          flex-direction: column-reverse;
          padding-top: 71px;
          padding-bottom: 20px;
      }

      me .input-group__error {
          color: #ae2300;
          display: block;
          position: relative;
          visibility: hidden;
          opacity: 0;
          margin-left: 10px;
          margin-top: 1px;
          margin-bottom: -44px;
          font-family: 'Noto Serif', serif;
          font-size: 14px;
          transition: all 0.3s ease-out;
      }

      me input {
          font-family: 'Noto Sans', sans-serif;
          font-size: 14px;
          color: black;
          border: 0;
          z-index: 1;
          background-color: transparent;
          border-bottom: 1px solid var(--color-input-lines);
          font-size: 1.125rem;
          padding: 0;

          &:focus {
              outline: 0;
              border-bottom: 1px solid var(--color-input-lines);

              &+.input-label {
                  font-family: 'Noto Serif', serif;
                  font-style: italic;
                  font-size: 14px;
                  color: var(--color-input-lines);
                  transform: translateY(-1.5rem);
              }
          }

          &:valid {
              border-bottom: 1px solid hsl(55, 96%, 38%);

              &+.input-label {
                  font-family: 'Noto Serif', serif;
                  font-style: italic;
                  font-size: 14px;
                  color: var(--color-input-lines);
                  transform: translateY(-1.5rem);
              }
          }

          &:not(:placeholder-shown):invalid {
              border-bottom: 1px solid #ff3300;
              animation: error-shake 600ms;

              &+.input-label {
                  font-family: 'Noto Serif', serif;
                  font-style: italic;
                  font-size: 14px;
                  color: var(--color-input-lines);
                  transform: translateY(-1.5rem);
              }
          }

          &:not(:placeholder-shown):not(:focus):invalid~.input-group__error {
              visibility: visible;
              opacity: 1;
          }
      }
  </style>

  <input data-attr-type="$isPasswordBOOL ? 'password' : 'text'"
         pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})"
         placeholder=""
         value=""
         name="password"
         required />

  <label class="input-label" data-attr-disabled="$isPasswordBOOL">
    <style>
        me {
            color: black;
            position: absolute;
            transition: .15s ease;
            margin-bottom: 4px;
        }
    </style>
    {{ fieldtext }}
  </label>

  <span id="error-span-{{ idalwayschange }}" class="input-group__error">Password invalid
    <button type="button" popovertarget="{{ idalwayschange }}-popover">
      <style>
          me {
              all: unset;
              background-color: transparent;
              color: #811a00;
              width: auto;
              height: auto;
              margin-left: 8px;
              text-align: center;
              cursor: pointer;
              transition: .25s ease;
          }

          me:hover {
              text-decoration: underline;
          }
      </style>
      More Info...
    </button>
  </span>
  <!--Password should be 8-16 characters long and contain at least one digit, one lowercase letter, one uppercase letter and one special character.-->

  <span class="{{ idalwayschange }}-icon fa-regular fa-eye" data-on-click="$isPasswordBOOL=!$isPasswordBOOL" data-class-fa-eye="$isPasswordBOOL" data-class-fa-eye-slash="!$isPasswordBOOL">
    <style>
        me {
            color: var(--color-input-lines);
            font-size: 18px;
            display: flex;
            margin-left: auto;
            margin-right: 6px;
            margin-bottom: 6px;
            z-index: 2;
        }
    </style>
  </span>

</div>
<div popover id="{{ idalwayschange }}-popover">
  <style>
      me {
          width: 400px;
          background-color: var(--color-background-dark);
          color: var(--color-text-bright);
          border: 1px solid var(--color-background-middle);
          border-width: 1px;
          border-radius: 16px;
          padding: 38px 38px;
          cursor: pointer;
          animation: fadeIn 0.26s ease-in;
          text-align: left;
          font-size: 1.16rem;
      }

      me ul {
          list-style-type: disc
      }
  </style>
  The password should:
  <ul>
    <li>Be 8 to 64 characters long</li>
    <li>Contain at least one digit</li>
    <li>Contain at least one lowercase letter</li>
    <li>Contain at least one uppercase letter</li>
    <li>Contain at least one special character</li>
  </ul>
</div>
