{% extends "base.jinja2" %}

{% block title %}Calc01{% endblock %}
{% block content %}
  <div id="content-div">

    <!-- TITLE SINGLE -->
    <div>
      <style>
          me {
              width: 100%;
              text-align: center;
              padding-bottom: 8px;
          }

          me div {
              padding-bottom: 14px;
              font-family: 'Noto Serif', serif;
              font-size: 24px;
              font-weight: 400;
              font-stretch: semi-condensed;
              font-style: italic;
          }

          me hr {
              display: block;
              height: 1px;
              border: 0;
              border-top: 1px solid #a8a8a8;
              margin: 0;
              padding: 0;
          }
      </style>
      <div>{{ user.email }}</div>
      <hr />
    </div>

    <form data-signals="{users_submit_button_disable:false}" data-on-submit="$users_submit_button_disable = true;@post('/login_validate', {contentType: 'form'})">

      <!-- INPUT WITH POPOVER -->
      <div>
        <style>
            me {
                display: flex;
                align-items: end;
            }
        </style>
        {{ render_partial('partials/forms-input.jinja2', idalwayschange='firstcalc01', name='email', fieldtext='First Name', type = 'text', pattern="[\s\S]*", errormessage="Pattern not satisfied") }}
        {{ render_partial('partials/forms-info-popover.jinja2', idalwayschange='dfvd1', infotext='3That’s not enough, as we also need some sort of “trigger” to make the popover, well, pop! We get another attribute that turns any button flavored button into that trigger.') }}
      </div>
      {{ render_partial('partials/forms-input.jinja2', idalwayschange='firstcalc02', name='Engineer', fieldtext='First Name', type = 'text', pattern="[\s\S]*", errormessage="Pattern not satisfied") }}
      {{ render_partial('partials/forms-input.jinja2', idalwayschange='firstcalc03', name='Engineer2', fieldtext='First Name', type = 'text', pattern="[\s\S]*", errormessage="Pattern not satisfied") }}
      {{ render_partial('partials/forms-select.jinja2', titledisabled='Select Default', optionslist=['option26', 'password', 'Engineer']) }}
      <!-- SELECT WITH POPOVER -->
      <div>
        <style>
            me {
                display: flex;
                align-items: end;
            }
        </style>
        {{ render_partial('partials/forms-select.jinja2', titledisabled='Select Default', optionslist=['option26', 'password', 'Engineer']) }}
        {{ render_partial('partials/forms-info-popover.jinja2', idalwayschange='6', infotext='2That’s not enough, as we also need some sort of “trigger” to make the popover, well, pop! We get another attribute that turns any button flavored button into that trigger.') }}
      </div>

    </form>

  </div>
{% endblock content %}
