{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}

<div id="content-div">
    <!-- TITLE DOUBLE -->
    <div>
      <style>
          me {
              width: 100%;
              text-align: center;
              padding-bottom: 8px;
          }

          me hr {
              display: block;
              height: 1px;
              border: 0;
              border-top: 1px solid #a8a8a8;
              margin-top: 10;
              padding: 0;
          }
      </style>
      <div>
        Big Title!
        <style>
            me {
                padding-bottom: 28px;
                font-family: 'Noto Serif', serif;
                font-size: 30px;
                font-weight: 400;
                font-stretch: semi-condensed;
                font-style: italic;
            }
        </style>
      </div>
      <div>
        <style>
            me {
                padding-bottom: 2px;
                font-family: "Noto Sans", sans-serif;
                font-size: 20px;
                font-weight: 300;
                font-stretch: semi-condensed;
                font-style: normal;
            }
        </style>
        Booking platform for the 2025 season.
      </div>
      <hr />
    </div>
    <div>
      <style>
          me {
              padding-bottom: 40px;
              padding-top: 40px;
          }
      </style>
      To create a user interface for registration, login, logout, and password management with FastAPI, FastAPI Users, Jinja2, and HTMX, you can follow this example code. Below, I provide you with the necessary templates and FastAPI routes to get you started.
      <br />
      <br />
      To create a user interface for registration, login, logout, and password management with FastAPI, FastAPI Users, Jinja2, and HTMX, you can follow this example code. Below, I provide you with the necessary templates and FastAPI routes to get you started.
      <br />
      <br />
      somemail@gmail.com
      <br />
      BgC3uXt9eT7?F^C?
    </div>
</div>
{% endblock %}
